# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt


*.txt
*.zip
*.7z
*.jar
*.log
*.bat
/Reference
/.idea
/Fabric/Fabric-1.18
/Fabric/Fabric-1.19
/Fabric/Fabric-1.20.x
/Fabric/Fabric-1.21.x
/forge/forge-1.12.2
/forge/forge-1.16.5
/forge/forge-1.18.2
/forge/forge-1.20.1
!/.gitignore
!/.gitattributes
.gitignore
.gitattributes